@import "tailwindcss";

@font-face {
    font-family: 'Marseille';
    src: url('./assets/fonts/fonnts.com-Marseille_SemiBold.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

h1,
h2 {
    font-family: 'Marseille', serif;
}

.font-title {
    font-family: 'Marseille', serif;
}

/* Classes réutilisables (optionnel) */
@layer components {
    .btn-base {
        @apply relative inline-flex items-center justify-center text-xl text-center leading-normal cursor-pointer;
        letter-spacing: 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .btn-bg-base {
        @apply pointer-events-none absolute w-full h-[67.97%] top-[15.81%] left-0 rounded-[31.63px];
    }

    .neon-yellow {
        width: 134px;
        height: 63px;
        font-weight: 400;
        color: var(--color-jaune-souffre);
    }

    .gradient-blue {
        width: 197px;
        height: 63px;
        font-weight: 700;
        color: white;
    }

    .filled-yellow {
        width: 168px;
        height: 80px;
        font-weight: 400;
        color: var(--color-ocre-rouge);
    }

    .square-yellow {
        width: 168px;
        height: 80px;
        font-weight: 400;
        color: var(--color-ocre-rouge);
    }
}


@theme {
    --color-brun-brule: #803110;
    --color-ocre-rouge: #BE6422;
    --color-fauve: #D58B52;
    --color-jaune-souffre: #FDFF6B;
    --color-turquoise-vif: #4DF6FF;
    --color-bleu-ciel: #42CBE6;
    --color-bleu-canard: #2B9498;
    --color-gris-anthracite: #383839;
    --color-reglisse: #232323;
    --color-noir-bleute: #1D1D24;
}